#cabecalho {
	border-bottom-width: 1px;
	border-bottom-color: black;
}

#logo {
	height: 100px;
	width: 100px;
	float: left;
}

#nomesistema {
	width: 530px;
	font-size: 40px;
	float: left;
	/*margin-top: 70px;*/
	padding-top: 75px;
	padding-bottom: 10px;
}

#divlogin {
	text-align: left;
	float: right;
	margin-top: 45px;
}

#divloginErro {
	text-align: left;
	float: right;
	margin-top: 30px;
}

#divErro {
	text-align: center;
	color: red;
}

#spancomplemento {
	font-size: 10px;
	color: red;
	font-weight: bold;
}

.alignCenter {
	text-align: center;
}

.valignTop {
	vertical-align: top;
}

.resultado {
	background-color: #0033FF;
}

.resultadoLoteca {
	background-color: #FF0000;
}


.resultadoRed {

}

.acerto {

}

.erro {

}

.rosaClass {
	color: #FF0088;
	font-weight: bold;
}

.teste {
    height: 585px;
    font-weight: bold;
}

.alignLeft {text-align: left;}
.alignRigth{text-align: right;}
.negrito { font-weight: bold; }