<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- Conexão com banco de dados -->
	<bean id="dataSource" class="br.com.softal.loteca.sets.Connect" />

	<!-- Hibernate -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="annotatedClasses">
			<list>
				<value>br.com.softal.base.model.grupo.Grupo</value>
				<value>br.com.softal.base.model.action.Action</value>
				<value>br.com.softal.base.model.grupoaction.Grupoaction</value>
				<value>br.com.softal.base.model.usuario.Usuario</value>
				<value>br.com.softal.base.model.usuariogrupo.Usuariogrupo</value>
				<value>br.com.softal.base.model.projeto.Projeto</value>
				
				<value>br.com.softal.loteca.model.classifclube.Classifclube</value>
				<value>br.com.softal.loteca.model.clubeusuario.Clubeusuario</value>
				<value>br.com.softal.loteca.model.clube.Clube</value>
				<value>br.com.softal.loteca.model.data.Data</value>
				<value>br.com.softal.loteca.model.jogo.Jogo</value>
				<value>br.com.softal.loteca.model.jogousuario.Jogousuario</value>
				<value>br.com.softal.loteca.model.loteca.Loteca</value>
				<value>br.com.softal.loteca.model.lotecausuario.Lotecausuario</value>
				<value>br.com.softal.loteca.model.usuariodata.Usuariodata</value>
			</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				
				<prop key="hibernate.connection.useUnicode">true</prop>
				<prop key="hibernate.connection.charSet">utf-8</prop>
				<prop key="hibernate.connection.characterEncoding">utf-8</prop>

			</props>
		</property>
		
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Injeta uma sessão do hibernate -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean> 
	
	<!-- DAOs -->
	<bean id="genericDAO" class="br.com.softal.base.dao.GenericDAOImpl"> 
		<!-- Injeta esse objeto hibernateTemplate dentro do DAO -->
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="usuarioDAO" class="br.com.softal.base.model.usuario.HbnUsuarioDAO"> 
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="lotecaDAO" class="br.com.softal.loteca.model.loteca.HbnLotecaDAO"> 
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="lotecausuarioDAO" class="br.com.softal.loteca.model.lotecausuario.HbnLotecausuarioDAO"> 
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="clubeDAO" class="br.com.softal.loteca.model.clube.HbnClubeDAO"> 
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="clubeusuarioDAO" class="br.com.softal.loteca.model.clubeusuario.HbnClubeusuarioDAO"> 
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="classifclubeDAO" class="br.com.softal.loteca.model.classifclube.HbnClassifclubeDAO"> 
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="jogousuarioDAO" class="br.com.softal.loteca.model.jogousuario.HbnJogousuarioDAO"> 
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean> 
	<bean id="usuariodataDAO" class="br.com.softal.loteca.model.usuariodata.HbnUsuariodataDAO"> 
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean> 
	<bean id="dataDAO" class="br.com.softal.loteca.model.data.HbnDataDAO"> 
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean> 
	
	<!-- Services -->
	<bean id="defaultService" class="br.com.softal.base.service.DefaultServiceImpl"> 
		<property name="genericDAO" ref="genericDAO" />
	</bean>
	<bean id="lotecaService" class="br.com.softal.loteca.service.LotecaServiceImpl"> 
		<property name="genericDAO" 		ref="genericDAO" />
		<property name="usuarioDAO" 		ref="usuarioDAO" />
		<property name="lotecaDAO" 			ref="lotecaDAO" />
		<property name="lotecausuarioDAO"	ref="lotecausuarioDAO" />
		<property name="clubeDAO" 			ref="clubeDAO" />
		<property name="clubeusuarioDAO" 	ref="clubeusuarioDAO" />
		<property name="classifclubeDAO" 	ref="classifclubeDAO" />
		<property name="jogousuarioDAO" 	ref="jogousuarioDAO" />
		<property name="usuariodataDAO" 	ref="usuariodataDAO" />
		<property name="dataDAO" 			ref="dataDAO" />
	</bean>
</beans>